.flex-container{
  display: flex;

  &:first-of-type{
    padding: 50px 150px;
    gap: 2.5%;
    .item{
      height: 350px;
      border-radius: 10px;
  
      &:nth-child(1){
        width: 55%;
        background-color: #415272;
        display: flex;
        align-items: center;

        h2{
          margin-bottom: 10px;
        }

        h2, p{
          color: white;
        }
      }
  
      &:nth-child(2){
        width: 40%;
      }
    }
  }

  &:nth-of-type(2){
    padding: 25px 150px 0 150px;
    gap: 2.5%;
    .item{
      height: 350px;
      width: 22.5%;
      border-radius: 10px;
    }
  }


  .item{
    box-shadow: 2px 2px 10px #DFDFDF;
    background-color: #fff;
  }

 
}

