.grid{
  padding: 40px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;

  div{
    background-color: red;
    height: 350px;
    box-shadow: 2px 2px 10px #DFDFDF;
    border-radius: 20px;

    &:nth-child(1){
      background-color: black;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &:nth-child(1), &:nth-child(2){
      height: 380px;
    }
  }
}