@use "../../styles" as *;

.section-container {
  padding: 0 2vh;
  width: 100%;
  height: 90%;
  box-sizing: border-box;

  .course-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;

    .section-controls {
      overflow-y: auto;
      border-left: 1px solid gray;
    }

    .class-controls {
      padding: 0 10px;
    }
  }

  .btn-add-section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .centralizer {
      display: flex;
      align-items: center;
      flex-direction: column;
      .btn-add-section {
        @include dashboard-button;
      }
      span {
        font-size: 13px;
        margin-top: 5px;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}
