.radio-switch {
  display: none;
}

.switch {
  width: 75%;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.25s;
}

.switch-option {
  background-color: #f1f1f1;
}

.switch-option-selected {
  background-color: #e7e7e7;
  border: 1px solid rgba(0, 0, 0, 0.397);
}
