@font-face {
    font-family: 'Century Gothic';
    src: url('../assets/fonts/CenturyGothic.ttf');
}

* { margin: 0;  font-family: 'Century Gothic'; }

:root{
    --azul-escuro: #3A455E;
}

.mirror{
    transform: rotate(180deg);
}

img{
    user-select: none;
}