@font-face {
  font-family: "Century Gothic";
  src: url("../assets/fonts/CenturyGothic.ttf");
}

* {
  margin: 0;
  font-family: "Century Gothic";
}

:root {
  --azul-escuro: #3a455e;
}

.mirror {
  transform: rotate(180deg);
}

img {
  user-select: none;
}

.hide {
  display: none;
}
