footer{
    background: #374A4F;
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

footer *{
    transition: 0.25s;
}

footer small{
    color: white;
}

footer li{
    color: rgba(255, 255, 255, 0.75);
}

footer li, footer img{
    cursor: pointer;
}

footer li:hover{
    color: rgb(255, 255, 255);
}

footer ol{
    list-style: none;
    
}

footer ol li{
    padding: 5px;
}

footer img{
    height: 75px;
    width: 100px;
}