.main-terms-text{
    margin: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.term-type{
    text-align: center;
    margin: 2%;
}

.term-name{
    margin-top: 4%;
    margin-left: 4%;
    text-decoration: solid;
    border-bottom: 2px solid black;
}

.term-paragraph{
    margin-left: 4%;
    margin-right: 8%;
    margin-top: 2%;
}