@use "../../styles/variables" as *;

.menu {
  background: $degrade;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      margin-top: 30px;
      cursor: pointer;
      li {
        color: rgba(255, 255, 255, 0.833);
        padding: 8.5px 15px;
        border-top: 0.1px solid rgb(192, 192, 192);
        transition: 0.5s;
        user-select: none;
        &:hover {
          background: $degrade;
          color: white;
        }
        &:last-child {
          border-bottom: 0.1px solid rgb(192, 192, 192);
          &:hover {
            background: rgb(207, 21, 21);
          }
        }
      }
    }
  }
}
